.header{
    background-color: #0E0A56;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
}

.search-bar{
    background-color: #0E0A56;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    .search-bar-style{
        width: 400px;

        .input{
            height: 40px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            box-shadow: none;
            border-color: white;
        }
        .button-search{
            padding: 0 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            .icon{
                height: 36px;
            } 
        }

    }
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .buttons{
        background-color: #0E0A56;
        width: 100px;
        margin: 0 10px;
        border-radius: 25px;
    }
}