.search-bar{
    background-color: #0E0A56;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    .search-bar-style{
        width: 400px;
        margin: 8px 0 !important;

        .input{
            height: 40px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            box-shadow: none;
            border-color: white;
            font-size: 15px;
        }
        .button-search{
            padding: 0 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            .icon{
                height: 36px;
            } 
        }

    }
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section{
    color: #0E0A56;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.back{ 
    text-align: center;
    
    .text{
    color: #0E0A56;;
    font-size: 15px;
    }
}