::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}

.container-whole{
    height: auto;
    
    .search-bar{
        background-color: #0E0A56;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        .search-bar-style{
            width: 400px;
            margin: 8px 0 !important;

            .input{
                height: 32px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                box-shadow: none;
                border-color: white;
                font-size: 15px;
            }
            .button-search{
                padding: 0 10px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                height: 32px;

                .icon{
                    height: 25px;
                } 
            }

        }
    }

    .loading{
        margin: 20px 0;
        margin: 20px 0;
        transition: opacity 04s ease-in-out;
        font-weight: bold;
        transition-property: opacity;
        animation-name: loading;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        @media (max-width: 700px) {
            font-size: 20px;
        }
        @keyframes loading {
            0% {
                color: #0E0A56;
            }
            50% {
                color: #696699;
            }
            100% {
                color: #0E0A56;
            }
        }
    }

    .no-items{
        margin: 20px 0;
        color: #0E0A56;
        font-weight: bold;
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 80px;
        @media (max-width: 600px) {
            padding: 0;
        }
    }
}