.full-row {
    vertical-align: middle;

    .cell-delete{
        padding: 0;
        vertical-align: middle;
        text-align: center;

        .delete{
            height: 20px;
            width: 20px;
            font-size: 12px;
            padding: 0;
        }
    }
    .tdata{
        vertical-align: middle;
        padding: 0;
    }
    .full-input{
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        .input-style-edit{
            margin-top: 10px;
            margin: 0 !important;
            width: 85px;

            .input-button{
                color: #0E0A56;
                border-color: #0E0A56;
                font-size: 15px;
                padding: 0 10px;
                height: 26px;
                background-color: white;
                box-shadow: none;
            }
            .input-button:active{
                background-color: #CECBFF;
            }
            .input-button:hover{
                background-color: #CECBFF;
            }
            .input-text{
                color: #0E0A56;
                text-align: center;
                border-color: #0E0A56;
                font-size: 15px;
                padding: 0;
                height: 26px;
                box-shadow: none;
            }
        }
    }
}
