input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.full-card{
    background-color: white;
    width: 180px;
    margin: 15px 10px;
    text-align: center;
    @media (max-width: 400px){
        width: 150px;
    }
    @media (max-width: 340px){
        width: 140px;
    }
    
    .img-container{
        display: flex;
        justify-content: center;

        .cart-indicator{
            font-size: 13px;
            position: absolute;
            background-color: #0E0A56;
            color: white;
        }      
        .card-img{
            width: 180px;
            height: 180px;
            padding: 2px;
            @media (max-width: 400px){
                width: 150px;
                height: 150px;
            }
            @media (max-width: 340px){
                width: 140px;
                height: 140px;
            }
        }
    }
    
    .card-body{
        padding: 5px;
    
        .name-section{
            font-size: 12px;
            height: 35px;
            @media (max-width: 400px){
                height: 48px;
            }
            @media (max-width: 340px){
                height: 50px;
            }
        }
        .price-section{
            font-weight: bold;
            font-size: 15px;
        }
        .full-input{
            display: flex;
            justify-content: center;
            margin: 0;
            height: 28px;
            margin: 10px 0;
    
            .input-style{
                width: 75%;
        
                .input-button{
                    color: #0E0A56;
                    border-color: #0E0A56;
                    font-size: 15px;
                    padding: 0 12px;
                }
                .input-text{
                    color: #0E0A56;
                    text-align: center;
                    border-color: #0E0A56;
                    font-size: 15px;
                    padding: 0;
                    height: 26px;
                }
            }
        }
        .button-start{
            padding: 0;
            width: 75%;
            background-color: white;
            font-size: 15px;
            color: #0E0A56;
            margin: 0 auto;
            border-color: #0E0A56;
            border-width: 2px;
            margin-bottom: 5px;
            @media (max-width: 340px){
                font-size: 13px;
            }
        }
    }   
}
