input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.full-card{
    width: 200px;
    margin: 30px 30px;
    text-align: center;
    border-radius: 25px;
    border-color: #707070;
    
    .full-input{
        display: flex;
        justify-content: center;

        .input-style{
            width: 120px;
    
            .input-button{
                color: #0E0A56;
                border-color: #0E0A56;
            }
            .input-text{
                color: #0E0A56;
            }
        }
    }
    .card-img{
        padding: 5px 5px 0 5px;
        border-radius: 25px;
    }   
    .button-start{
        width: 90%;
        background-color: #EAEAEE;
        font-size: 16px;
        padding: 6px;
        color: #0E0A56;
        margin: 0 auto;
        border-color: #0E0A56;
    }
}
