input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.full-card{
    width: 150px;
    margin: 15px 5px;
    text-align: center;
    border-radius: 25px;
    border-color: #707070;
    
    .card-img{
        padding: 5px 5px 0 5px;
        border-radius: 25px;
    }
    .card-body{
        padding: 5px;
        
        .name-section{
            font-size: 15px;
        }
        .price-section{
            font-weight: bold;
        }
        .full-input{
            display: flex;
            justify-content: center;
            margin: 0;
    
            .input-style{
                width: 75%;
        
                .input-button{
                    color: #0E0A56;
                    border-color: #0E0A56;
                }
                .input-text{
                    color: #0E0A56;
                    text-align: center;
                    border-color: #0E0A56;
                }
            }
        }
        .button-start{
            width: 75%;
            background-color: white;
            font-size: 16px;
            color: #0E0A56;
            margin: 0 auto;
            border-color: #0E0A56;
            border-width: 2px;
            margin-bottom: 5px;;
        }
    }   
}
