.full-navbar{
    background-color: #EAEAEE;
    
    .logo{
        height: 40px;
        margin-right: 70px;
    }
    .nav-links{
        text-decoration: none;
        font-size: 20px;
        margin: 0 10px;
        color: #000000;
    }
    .icon-button{
        background-color: #EAEAEE;
        border-color: #EAEAEE;

        .icon-cart{
            margin: 0;
            height: 40px;
        }
    }
}