.modal-content{
    background-color: #EAEAEE;
} // this modal-content is a class of the component modal.

.table-style{
    text-align: left;
    font-size: 14px;
    .total-row{
        font-weight: bold;
        text-align: right;
    }
}

.buttons-footer{
    display: flex;
    justify-content: center;

    .keep-shopping-button{
        background-color: #0E0A56;
        width: 40%;
        @media (max-width: 600px) {
            font-size: 14px; 
         }
    }
    .billing-button{
        width: 40%;
        color: #FFFFFF;
        text-decoration: none;

        .shopping-button{
        background-color: #0E0A56;
        width: 100%;
        @media (max-width: 600px) {
            font-size: 14px; 
         }
        } 
    }  
    
}

.button-flex{
    display: flex;
    justify-content: center;

    .delete-button{
        width: 80%;
        @media (max-width: 600px) {
           font-size: 14px; 
        }
    }
}

@media (max-width: 600px) {
    .table-style{
        font-size: 10px;
    }
}