.modal-content{
    background-color: #EAEAEE;
} // this modal-content is a class of the component modal.

.buttons-footer{
    display: flex;
    justify-content: center;
    
    .shopping-button{
        background-color: #0E0A56;
        width: 40%;
    } 
}

.button-flex{
    display: flex;
    justify-content: center;

    .delete-button{
        width: 80%;
    }
}
